
.icon{
    position: fixed;
    width:100%;
    background-color: #1a6985;
    height:5vh;    
    margin-bottom: 0;
    padding: 0;
    display:flex;
    align-items:flex-end;    
}
mat-icon{
    border:1px black solid;
    border-radius: 10%;
    margin-bottom: 0%;
    padding:0%;
    margin-left: 0.5%;
    height:90%;
    width:3%;
    display:flex;
    font-size:2.5rem;
    align-items: center;
    justify-content: center;
    background-color: #fbcf1b;

}
.poketitle{
    height:auto;
    width :100% ;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top:32%;
}