<div class="container">
    <div class="titleTop">
        <mat-icon 
            class="goHome"
            [routerLink]=" '/team/selection'">reply
        </mat-icon>
    </div>
    <div class="row">
        <div class="column1">
            <h2 class="teams">YOUR SQUAD:</h2>
            <div class="squad" *ngFor="let item of mySquad">
               
                <div class="pokemonContainer">
                    <div class="imageContainer">
                        <img  
                        class="pokemon-image"
                        [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + item.id + '.png'"
                        alt="Photo of pokemon"                        
                        />
                    </div>
                    
                    <div class="statsContainer">
                        <p><strong>{{item.name | uppercase}}</strong><br>
                            <strong>Exp: {{item.base_experience}}</strong><br>
                            <strong>Type:{{item.types[0].type.name}}</strong></p>
                            <p><small>
                                HP     : {{item.stats[0].base_stat}}<br>
                                Attack : {{item.stats[1].base_stat}}<br>
                                Defense : {{item.stats[2].base_stat}}<br>
                                Special Attack : {{item.stats[3].base_stat}}<br>
                                Special Defense : {{item.stats[4].base_stat}}<br>
                            </small></p>
                    </div>
                </div>                
            </div>
        </div>
        <div class="column2" >
            <h2 class="teams">ENEMIES</h2>
            <div class="enemies" *ngFor="let item of myEnemySquad">
                
                <div class="pokemonContainer">
                    <div class="imageContainer">
                        <img  
                        class="pokemon-image"
                        [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + item.id + '.png'"
                        alt="Photo of pokemon"                        
                        />
                    </div>
                    
                    <div class="statsContainer">
                        <p><strong>{{item.name | uppercase}}</strong><br>
                            <strong>Exp: {{item.base_experience}}</strong><br>
                            <strong>Type: {{item.types[0].type.name}}</strong></p>
                            
                            <p><small>
                                HP : {{item.stats[0].base_stat}}<br>
                                Attack : {{item.stats[1].base_stat}}<br>
                                Defense : {{item.stats[2].base_stat}}<br>
                                Special Attack : {{item.stats[3].base_stat}}<br>
                                Special Defense : {{item.stats[4].base_stat}}<br>
                            </small></p>
                    </div>
                </div>      
            </div>
            
        </div>
    </div>
    <div *ngIf="visible" class="actionBox">
        <!-- <span>{{pokemonActions.myAction}} : {{pokemonActions.power}}</span> -->
        {{action4show.name}}:
        {{action4show.myAction}}
        {{action4show.power}}
    </div>
</div>